.mat-form-field {
  margin-right: 1em;
  margin-bottom: 20px;
}

.city-code {
  width: 20%;
}

.city-name {
  width: 70%;
}

.country-code {
  width: 35%;
}

.country-name {
  width: 55%;
}

.main-muncipality {
  margin-top: 0em;
}

.mat-form-field {
  margin-bottom: 0px;
}

.country-id {
  display: none;
}

.delete-button {
  margin-left: 0.3em;
}
