.mat-form-field {
  margin-right: 1em;
  margin-bottom: 20px;
}

.vat-code {
  width: 15%;
}

.vat-percentage {
  width: 35%;
}

.vat-description {
  width: 100%
}

.delete-button {
  margin-left: 0.3em;
}
