.mat-form-field {
  margin-right: 1em;
  margin-bottom: 20px;
}

.mat-card {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 20px;
}

.vat-code {
  width: 20%;
}

.vat-code {
  width: 15%;
}

.vat-percentage {
  width: 15%;
}

.vat-description {
  width: 100%
}


.delete-button {
  margin-left: 0.3em;
}
