<mat-toolbar color="primary" class="white-header">
  <span>Invoicing</span>
  <span class="toolbar-spacing"></span>
  <button mat-button [matMenuTriggerFor]="general">General</button>
  <mat-menu #general="matMenu">
    <button mat-menu-item [routerLink]="['/country']">Country</button>
    <mat-menu #country="matMenu">
      <button mat-menu-item>Create country</button>
    </mat-menu>
    <button mat-menu-item [routerLink]="['/city']">City</button>
  </mat-menu>
</mat-toolbar>
<mat-toolbar class="toolbar-breadcrumb">
  <div class="breadcrumb-container">
    <xng-breadcrumb class="toolbar-breadcrumb-item" [separator]="iconTemplate"></xng-breadcrumb>
    <ng-template #iconTemplate>
      <mat-icon>chevron_right</mat-icon>
    </ng-template>
  </div>

</mat-toolbar>
