/* You can add global styles to this file, and also import other style files */

@import 'style/_reboot';
@import 'style/_black-blue';
@import 'style/variables';

button:focus {
  outline: 0
}

/* Makes app-root window full height & width */
.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  overflow: auto;
  background-color: #ffffff;
}

