.full-width-table {
  width: 100%;
}

.mat-elevation-z8 {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 1080px) {
  .mat-elevation-z8 {
    width: 100%;
  }
  .mat-column-id {
    display: none;
    width: 0%;
  }

  .mat-column-city {
    padding-left: 10px;
    width: 30%
  }

  .mat-column-postal {
    width: 30%;
  }

  .mat-column-country {
    display: none;
    width: 0%;
  }

  .mat-column-countryname {
    width: 15%;
  }

  .mat-column-mainmuncipality {
    display: none;
  }

  .mat-column-action {
    word-wrap: break-word;
    white-space: unset;
    flex: 0 0 20%;
    width: 20%;
    text-align: right;
  }
}

.Filter {
  margin-top: 10px;
  margin-left: 25px;
}

.status-label {
  border-radius: 5px;
  padding: 8px;
  color: #4ca2d5;
}

.create-city {
  float: right;
  margin-top: 20px;
  margin-right: 25px;
}

.mat-column-id {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 10%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  width: 10%;
}

.mat-column-city {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 50%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  width: 15%;
}

.mat-column-postal {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 50%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  width: 12%;
}

.mat-column-country {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 50%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  width: 10%;
}

.mat-column-countryname {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 50%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  width: 15%;
}

.mat-column-mainmuncipality {
  flex: 0 0 20%;
  align-content: center;
  text-align: center;
  width: 5%
}

.mat-column-action {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 20%;
  width: 15%;
  text-align: right;
}

