<mat-card [hidden]="hideCountryList" class="mat-elevation-z10">
  <mat-card-title>Create city</mat-card-title>
  <mat-card-content>
    <form [formGroup]="cityForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="city-code">
        <input id="code" matInput aria-label="Postal" type="text" formControlName="postal" required />
        <mat-placeholder class="placeholder">postal</mat-placeholder>
        <mat-error>{{ getErrorMessage(cityForm?.get('name')) }}</mat-error>
      </mat-form-field>
      <mat-form-field class="city-name">
        <input id="name" matInput aria-label="Name" type="text" formControlName="name" required />
        <mat-placeholder class="placeholder">name</mat-placeholder>
        <mat-error>{{ getErrorMessage(cityForm?.get('postal')) }}</mat-error>
      </mat-form-field>

      <mat-card class="country-info">
        <h3>Country - info</h3>
        <button class="mat-raised-button select-country" type="button" mat-button (click)="onSelect()">SELECT</button>
        <mat-form-field class="country-code">
          <input id="countrycode" matInput aria-label="Code" type="text" disabled formControlName="countrycode" required />
          <mat-placeholder class="placeholder">code</mat-placeholder>
        </mat-form-field>
        <mat-form-field class="country-name">
          <input id="countryname" matInput aria-label="Country Name" type="text" disabled formControlName="countryname" required />
          <mat-placeholder class="placeholder">name</mat-placeholder>
        </mat-form-field>
      </mat-card>
      <br />
      <button class="mat-raised-button mat-accent" mat-button type="submit" [disabled]="!cityForm.valid">UPDATE CITY</button>
      <button class="mat-raised-button delete-button" color="warn" mat-button type="button" (click)="deleteCity()" [disabled]="city.id <= 0">DELETE CITY</button>
    </form>
  </mat-card-content>
</mat-card>
<app-country-selection [hidden]="!hideCountryList" (countryEvent)="setCountry($event)"></app-country-selection>
