<mat-card class="mat-elevation-z10 mat-card-50">
  <mat-card-title *ngIf="isAddMode">Create country</mat-card-title>
  <mat-card-title *ngIf="!isAddMode">Edit country</mat-card-title>
  <mat-card-content>
    <form [formGroup]="countryForm" (ngSubmit)="onSubmit()">
      <div formGroupName="country">
        <mat-form-field class="country-code">
          <input id="countryCode" matInput aria-label="countryCode" type="text" formControlName="countryCode" required />
          <mat-placeholder class="placeholder">code</mat-placeholder>
          <mat-error>{{ getErrorMessage(countryForm?.get('code')) }}</mat-error>
        </mat-form-field>
        <mat-form-field class="country-name">
          <input id="name" matInput aria-label="Country" type="text" formControlName="name" required />
          <mat-placeholder class="placeholder">Code</mat-placeholder>
          <mat-error>{{ getErrorMessage(countryForm?.get('name')) }}</mat-error>
        </mat-form-field>
      </div>
      <button class="mat-raised-button mat-accent" mat-button type="submit" [disabled]="!countryForm.valid" *ngIf="isAddMode">CREATE COUNTRY</button>
      <button class="mat-raised-button mat-accent" mat-button type="submit" [disabled]="!countryForm.valid" *ngIf="!isAddMode">SAVE COUNTRY</button>
      <button class="mat-raised-button delete-button" color="warn" type="button" mat-button (click)="deleteCountry()" [disabled]="country.id <= 0" *ngIf="!isAddMode">DELETE COUNTRY</button>
    </form>
  </mat-card-content>
</mat-card>
